<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <title>Menú Principal</title>
</head>
<body>
    <div class="container">
        <h1>Menú Principal</h1>
        <button onclick="window.location.href='/ejercicio1'">Ejercicio 1: Notas</button>
        <button onclick="window.location.href='/ejercicio2'">Ejercicio 2: Nombres</button>
    </div>
</body>
</html>
